
{% load i18n static  %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand text-center">
        <!-- 메뉴 상단 로고 자리 -->
{#        <img src="{% static 'assets/images/logo.png' %}" alt="" style="width: 80%;">#}
    </a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 color-primary" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <div class="ms-2">
        <h6 class="m-0 text-white fw-bolder">{{title}}</h6>
    </div>


{#    <li class="nav-item flex align-items-center pl-3 pr-3 nav-link border-left">#}
{#        <div>{{ request.session.user_nm }}</div>#}
{#    </li>#}

    <div class="ms-auto me-3">
        <a href="{% url 'managers:logout' %}" class="btn btn-danger btn-sm"><strong>로그아웃</strong></a>
    </div>
</nav>
